# Ignore OpenFOAM case directories (0, 1, 2, 1.2, etc.)
[0-9]*/  # Matches directories like 0, 1, 2, etc.
[0-9]*.[0-9]*/  # Matches directories like 1.2, 2.5, etc.
!**/*.orig
Data/
Raw/


# Ignore .vtp files
*.vtp
*.out

# Ignore common Python build and cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.cpp
*.so
**/Make/linux64Gcc*/
build/

# Ignore virtual environments
.env/
.venv/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db
