docs/dns/**/*.bin filter=lfs diff=lfs merge=lfs -text
docs/references/*.pdf filter=lfs diff=lfs merge=lfs -text
**/samples/*.vts filter=lfs diff=lfs merge=lfs -text
**/samples/**/*.vts filter=lfs diff=lfs merge=lfs -text
tutorials/coupled_fvm_vpm/cylinder_shedding_flow/reference_flow/mesh_evidence/** filter=lfs diff=lfs merge=lfs -text
tutorials/coupled_fvm_vpm/cube_flow/reference_flow/samples/centreline.csv filter=lfs diff=lfs merge=lfs -text
tutorials/coupled_fvm_vpm/cube_flow/reference_flow/samples/offaxis_y075.csv filter=lfs diff=lfs merge=lfs -text
studies/coupler_accuracy/results/cube-3d-native-velocity-curl-integrals/velocity-curl-integrals.npy filter=lfs diff=lfs merge=lfs -text
tutorials/vpm/05_delta_wing/samples/delta_wing/vlm_chordwise_front_wing.csv filter=lfs diff=lfs merge=lfs -text
tutorials/vpm/05_delta_wing/samples/delta_wing/vlm_chordwise_rear_wing.csv filter=lfs diff=lfs merge=lfs -text
tutorials/vpm/06_rotor_flow_PENDING/samples/rotor/vlm_chordwise_blade_0.csv filter=lfs diff=lfs merge=lfs -text
tutorials/vpm/06_rotor_flow_PENDING/samples/rotor/vlm_chordwise_blade_1.csv filter=lfs diff=lfs merge=lfs -text
tutorials/vpm/06_rotor_flow_PENDING/samples/rotor/vlm_chordwise_blade_2.csv filter=lfs diff=lfs merge=lfs -text
